<%- include("includes/head.ejs"); %>

<body>
    <h2>The page  of @ <%= data.name %></h2>
    <button>Follow</button>
    <button>Message</button>
    <p id="follower"> Followers: <%=data.followers  %> &nbsp;&nbsp;&nbsp; 
        Following: <%= data.following %>
    </p>
    <hr>
   <% for(let post of data.posts ){ %>

    <img src="<%= post.image %>" alt="<%= data.name %> img">
    <p id="likes"> Likes: <%=post.likes  %> &nbsp;&nbsp;&nbsp; 
        Comments: <%= post.comments %>

    </p>
   <% } %> 
   <script src="index.js"></script>
</body>
</html>